@charset "UTF-8";

body {
    margin: 0;
    /*背景に画像ファイルを指定して、画面サイズにあわせて伸縮する*/
    background: #fff url("bg-001.png") center center / cover no-repeat fixed;
}
/*画面上部のメニュー帯*/
nav {
    padding: 0; 
    margin: 0;
    color: #fff;
}
/*メニュー帯の外枠*/
#menu{
  display: -webkit-box;
  display: -moz-box;
  width: 100%;
  height: 45px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color : rgba(0,0,0,0.3);
}
/*メニュー帯のリスト表示*/
#menu li{
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  padding: 0;
  margin: 0;
  text-align: center;
  border-style: none;
}
/*メニュー帯の項目表示*/
#menu li a{
  display: block;
  width: auto;
  color: #f5f5f5;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 12px 0;
  text-decoration: none;
  text-shadow: 0px -1px 1px rgba(0,0,0,0.7);
}
/*カーソルが領域にポイントされたときの挙動*/
#menu li a:hover {
  background: #00f;
}

/*二重リストの設定*/
#menu li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color : rgba(0,0,0,0.3);
}
/*二重リストが隠されている状態の項目表示*/
#menu li ul li{
  overflow: hidden;
  height: 0;
  /*color: #fff;*/
}
/*リスト表示にカーソルを合わせたときの挙動*/
#menu li:hover ul li{
  /*カーソルを合わせたときに二重リストが表示される*/
  overflow: visible;
  width: 100%;
  height: 45px;
}

header {
    padding: 0; 
    margin-top: 50px;
    text-align: center;
}
/*トップページのタイトル画像*/
header img {
  width: 50%;
  margin: 70px 0px;
}

header.type2 img {
  width: 70%;
  margin:70px 0px;
}


article {
    width: 80%;
    margin: 10%;
    background-color: rgba( 20, 20, 50, 0.55 );
    color: #fff;
    text-align: center;
    white-space: pre-wrap;
}

article img{
   width: 90%;
   margin: 5%;
}

h1 img {
  width: 100%;
  margin: 10px 0px;
}


div.introduce-1 {
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 10px 0px;
  background-color: rgba( 20, 20, 50, 0.55 );
}

div.introduce-1 img {
  width: 80%;
}

table.explain {
  margin: auto;
  border-spacing: 0;
  border-top: solid 1px #FFFFFF;
  border-left: solid 1px #FFFFFF;
  color: #FFF;
}

table.explain colgroup.machine1 {
  background: #696969;
}

table.explain colgroup.machine2 {
  background: #036;
}


table.explain tr th{
  padding: 15px;
  border-right: solid 1px #FFFFFF;
  border-bottom: solid 1px #FFFFFF;
  border-collapse: separate;
}

div.ggmap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

div.ggmap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}